/* TODO Add site wide styles */
body{
  background-color: #212121;;
  margin: 0
}
/* .focus {
  position: 'absolute';
  width: 100%;
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
} */
